config.py
venv/
__pycache__/
SERVER/__pycache__/
SERVER/config_server.py
SERVER/META/__pycache__/
SERVER/META/tests/__pycache__/
ZALANDO_SCRAPER/__pycache__/
ZALANDO_SCRAPER/test_vision.py
ZALANDO_SCRAPER/DCKRFILE_temp.txt
SCRAPERS/ZALANDO_SCRAPER/DCKRFILE_temp.txt
SCRAPERS/ZALANDO_SCRAPER/test_vision.py
SCRAPERS/ZALANDO_SCRAPER/config_zalando.py
SCRAPERS/FOREVER21_SCRAPER/f21_config.py
ZALANDO_SCRAPER/zalando_text_scraper/__pycache__/
SERVER/test.txt
.idea/
.history/
dump/
ZALANDO_SCRAPER/data_from_site/genre_script.py
SERVER/playground.py