*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background: #ffffff;
    color: #040404;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.donate-container {
  display: flex;
  align-items: center;
}

.donation-text {
  color: #5d903b;
  margin-right: 10px;
}

#donate-form button {
    padding: 12px 25px;
    background: linear-gradient(to right, #5d903b, #5d903b);
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: 500;
    font-size: 16px;
}

#donate-form button:hover {
    background-color: #0069a7; /* Make hover effect more noticeable */
    transform: scale(1.05); /* Ensure scale transformation on hover */
}

/* Ensure no overlapping elements with a higher z-index are covering the button */
.navbar, .donate-container {
    z-index: 1; /* Lower z-index for these containers */
}

#donate-form {
    z-index: 2; /* Ensure the form and its button are clickable */
}

h1{
    text-align: center;
    margin: 100px auto 50px;
    font-weight: 600;
    font-size: 48px;
}
.footer {
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
}

.document-count p {
    margin-top: 20px;
    font-size: 18px; /* Set the size as it fits your design */
    color: #555; /* A softer color for less technical feel */
    font-style: italic; /* Optional style */
}
#search-form {
    width: 90%;
    max-width: 650px;
    margin: auto;
    background:  #d5d5d55e; 
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border: 2px solid #060315;
}
.document-count {
    margin-top: 20px;
}
.search-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -70px; 
}

#free-searches-available {
    width: 90%; /* This should match the search form's width */
    max-width: 650px; /* This should match the search form's max width */
    margin-left: auto; /* This will be overridden by a calculated value */
    margin-right: auto; /* Centralize the div but will be overridden for left-alignment */
    text-align: left;
    box-sizing: border-box;
    color: #757575;
    display: inline-block;
}
/* Additional style to align with the form's left edge */
@media (min-width: 650px) { /* Adjust this to your actual breakpoint */
    #free-searches-available {
        margin-left: calc(((100% - 650px) / 2) + 20px); /* This calculates the left margin based on the search form's width */
    }
}
#search-form textarea {
    flex-grow: 1;
    background: transparent;
    color: #0a0a0b;
    border: none;
    outline: none;
    resize: none;
    padding: 10px; 
    font-size: 18px;
    overflow-y: auto;
    min-height: 42px; 
    height: 42px; 
    box-sizing: border-box; 
}*
#search-form textarea:focus {
    height: 42px;
}
#search-form button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 45px; /* Fixed width */
    height: 30px; /* Match the fixed height of the textarea */
}

/* You might want to add this to ensure that the SVG scales with the button size */
#search-form button svg {
    width: 100%;
    height: 100%;
}

::placeholder{
    color: #4f4f4f;
    font-size: 18px;
}

  

  .lds-ripple {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #195123;
    opacity: 1;
    left: 50%;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  #loading-message {
    color: rgba(169, 170, 170, 0.868); /* Change this color as needed */
    font-weight: bold;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img {
    max-width: 100%; /* Ensure images are not wider than the container */
    height: auto; /* Height is auto to maintain aspect ratio */
    object-fit: cover; /* Cover ensures the image fills the container, could be contain if you want to see the whole image */
    border-radius: 5px;
}

#rate-limit-info {
    display: inline;
  }

.item-container{
    position: relative;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
}
.carousel-container {
    position: relative;
    height: 300px; /* Fixed height for the carousel */
    /* Other styles for your carousel container */
}
.carousel {
    position: relative;
    height: 200px; /* Example fixed height */
    overflow: hidden; /* Hide parts of the image that exceed the container's dimensions */
    display: flex;
    align-items: center; /* Center images vertically if they don't fill the height */
}
.carousel-image {
    max-width: 100%; /* Ensure images are not wider than the container */
    max-height: 100%; /* Ensure images are not taller than the container */
    object-fit: contain; /* Ensure full image is seen without clipping */
    margin: auto; /* Center image within the container if it's smaller than the container */
}

.carousel-control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    color: white;
    font-size: 24px;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border: none;
    padding: 10px;
    transform: translateY(-50%);
}

.carousel-control.prev {
    left: 0; /* Adjust this if necessary */
}

.carousel-control.next {
    right: 0; /* Adjust this if necessary */
}

.carousel-control:hover {
    background-color: rgba(0,0,0,0.8);
}

.carousel-control:hover {
    background-color: rgba(0,0,0,0.8);
}