<!DOCTYPE html>
<html lang="en">
<head>
    <meta chdarset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ask Styler</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="navbar">
        <form action="https://www.paypal.com/donate" method="post" target="_top">
            <input type="hidden" name="hosted_button_id" value="B8Z2A8YE8AFF8">
            <button type="submit" title="Donate with PayPal" aria-label="Donate with PayPal">
                <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate with PayPal button">
            </button>
        </form>
    </header>
    <main>
        <section class="search-container">
            <h1>ASK STYLER</h1>
            <div id="free-searches-available">Free searches available:<span id="rate-limit-info">{{ searches_left }}/100</span></div>
            <form id="search-form">
                <textarea id="search-box" name="query" placeholder="Describe what you are looking for..." maxlength="400" aria-label="Search query"></textarea>
                <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                <button type="submit" aria-label="Submit search"><svg aria-hidden="true">...</svg></button>
            </form>
            <p class="document-count">Explore our collection of over 652 fashion favorites!</p>
        </section>
        <div id="loading-animation" aria-live="polite" style="display: none;"></div>
        <div id="search-result" aria-live="polite"></div>
        <button id="show-more-btn" style="display: none;">Show more</button>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>
